<section class="hero">
  <div class="hero-content">
    <h1>
      Plataforma Inteligente para la <span>Detección</span> Temprana del TEA
    </h1>

    <p>
      AutiSense es una plataforma inteligente que utiliza inteligencia artificial
      para apoyar la identificación temprana de señales de riesgo del TEA en infantes.
    </p>

    <div class="hero-actions">
      <button class="btn-primary">Demo</button>
      
    </div>
  </div>

  <div class="hero-image">
    <img
      src="https://res.cloudinary.com/dilgq19i2/image/upload/v1766018886/Captura_de_pantalla_2025-11-21_205303-removebg-preview_q72vui.png"
      alt="Plataforma AutiSense detección temprana del TEA"
      style="max-width:100%; height:auto;"
    />
  </div>
</section>
